= form_tag("/search", method: "get") do
	= text_field_tag(:search)
	= submit_tag("Search")

%h2= "Suggestions Based On Your Interests"
#recommendations.transitions-enabled
	-if @personalRec.size != 0
		-@personalRec.each do |s|
			.box.panel.panel-default
				= link_to (image_tag s.image.url), s
				.panel-body
					%h2= link_to s.name, s
					%p= s.datetime.to_date
					%p= s.datetime.strftime("%I:%M%p")
					Created by:
					= s.user.first_name 
					= s.user.last_name
					%br
					Tags:
					= s.all_tags
	-else
		%h4= "No Suggestions Found, You Should Add Tags To Your Account"