<h3><%= "#{current_user.first_name} #{current_user.last_name} Event Statistics" %></h3>

<table>
	<tr>
		<th>Event</th>
		<th>Date and Time</th>
		<th>Invites</th>
		<th>Going</th>
	</tr>
	<% @events.each do |e| %>
	<tr>
		<% if !e.nil? %>
			<% @e = Event.find(e.event_id) %>
			<%if !@e.nil? %>
				<td width="200px" align = "center"><%= @e.name %></td>
				<td width="200px" align = "center"><%= @e.datetime %></td>
				<% @sumInvites = EventsUser.where("event_id = ?", e.event_id).count%>
				<% if @sumInvites != 0 %>
					<% @sumInvites = @sumInvites-1 %>
				<% end %>
				<td width="200px" align = "center"><%= "#{@sumInvites}" %></td>
				<% @sumGoing =  EventsUser.where("event_id = ? AND status = ?", e.event_id, 'going').count%>
				<td width="200px" align = "center"><%= "#{@sumGoing}" %></td>
			<% end %>
		<% end %>
	</tr>
	<% end %>