= simple_form_for @event, html: {multipart: true} do |f|
	- if @event.errors.any?
		#errors
			%h2
				= pluralize(@event.errors.count, "error")
				Prevented this Event from saving
			%ul
				- @event.errors.full_messages.each do |msg|
					%li= msg

	.form-group 
		= f.input :image, input_html: { class: 'form-control'}

	.form-group 
		= f.input :name, input_html: { class: 'form-control'}

	.form-group 
		= f.input :datetime, input_html: { class: 'form-control'}

	.form-group 
		= f.input :location, input_html: { class: 'form-control'}

	.form-group
		= f.input :all_tags, placeholder: "Separate the tags by commas", input_html: { class: 'form-control'}

	.form-group
		= f.input :description, input_html: { class: 'form-control'}

	= f.button :submit, class: 'btn btn-primary'