#event_show.row
	.col-md-8.col-md-offset-2
		.panel.panel-default
			.panel-heading.event_image
				= image_tag @event.image.url
			.panel-body
				%h1= @event.name
				%p.description= @event.description
				%br
				%p= @event.datetime.to_date
				%p= @event.datetime.strftime("%I:%M%p")
				%p= @event.location
				%p
				Tags:
				= @event.all_tags
				%p
				Created by 
				= @event.user.first_name
				= @event.user.last_name
				%p
				.panel-footer
					.row
						.col-md-6
							%p.user
						.col-md-6
							.btn-group.pull-right
								= link_to "Back", root_path, class: "btn btn-default"
								- if user_signed_in?
									- if @user.id == @event.user.id
										= link_to "Invite", invite_events_users_path, class: "btn btn-default"
										= link_to "Edit", edit_event_path, class: "btn btn-default"
										= link_to "Delete", event_path, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-default"
									- else
										- if @going
											= link_to "Not going", event_path(@event, :assisting => '0'), class: "btn btn-default" #agregar el usuario al evento
										- else
											= link_to "Assist", event_path(@event, :assisting => '1'), class: "btn btn-default" #agregar el usuario al evento
	.col-md-8.col-md-offset-2
		.panel.panel-default
			.panel-heading.event_image
				.panel-heading-text
					%h1= "Guests"
			.panel-body
				%p
				-@invites.each do |i|
					.slide 
					= i.first_name
					= i.last_name 
				