#events_show.row
	.col-md-8.col-md-offset-2
		.panel.panel-default
			.panel-heading.event_image
				%h1= @event.name
			.panel-body
				= image_tag @event.image.url(:medium)
				%p.description= @event.description
				%p= @event.datetime
				%p= @event.location
				Created by 
				= @event.user.email

				.panel-footer
					.row
						.col-md-6
							%p.user
							Created by 
							= @event.user.email
						.col-md-6
							.btn-group.pull-right
								= link_to "Back", root_path, class: "btn btn-default"
								- if user_signed_in?
									- if @user.id == @event.user.id
										= link_to "Invite", invite_events_users_path, class: "btn btn-default"
										= link_to "Edit", edit_event_path, class: "btn btn-default"
										= link_to "Delete", event_path, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-default"
	.col-md-8.col-md-offset-2
		.panel.panel-default
			.panel-heading.event_image
				%h1= "Guests"
			.panel-body
				%p
				-@invites.each do |i|
				.slide 
					%p= i.email


				